#root@node01:/home/ubuntu# cat /etc/haproxy/haproxy.cfg


frontend s3_front

    bind *:80

    default_backend s3_back



backend s3_back

    balance roundrobin

    server rgw_dedicated 192.168.11.60:8080 check

    server rgw_backup    192.168.11.10:8080 check